<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BLR ODC Portal</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/home"><i class="fa-solid fa-house" style="color:green;"></i> Home</a></li>
      <li><i class="fa-solid fa-wifi" style="color:blue;"></i> <p style="display:inline-block;">Bookings</p>
        <ul>
          <li><a href="/meeting_room"><i class="fa-brands fa-meetup"></i> Meeting Rooms</a></li>
          <li><a href="/food"><i class="fa-solid fa-bowl-food"></i> Food</a></li>
          <li><a href="/locker"><i class="fa-solid fa-lock"></i> Lockers</a></li>
          <li><a href="/recreation"><i class="fa-solid fa-dice"></i> Recreation</a></li>
        </ul>
      </li>
      <li><a href="/queries"><i class="fa-brands fa-quora" style="color:red;"></i>ueries</a></li>
      <!-- <li><a href="family.html"><i class="fa-solid fa-people-group" style="color:blue;"></i> Family</a></li> -->
      <li><a href="/attendance"><i class="fa-solid fa-clipboard-user" style="color:green;"></i> Attendance</a></li>
      <li><a href="/centralrepo"><i class="fa-solid fa-book-open-reader" style="color:violet"></i> Central Repo</a></li>
      {% if role == 'HR' %}
      <li><a href="/posts"><i class="fa-solid fa-book-open-reader" style="color:rgb(216, 29, 144)"></i> Posts</a></li>
      {% endif %} 
      <li><a href="/chatbot"><i class="fa-solid fa-book-open-reader" style="color:rgb(29, 194, 216)"></i> ChatBot Glu</a></li>
      <li><a href="/anonymous"><i class="fa-regular fa-face-angry" style="color:rgb(216, 29, 29)"></i></i> Anonymous</a></li>
	  <li><b>{{sessionname}}</b> <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
    </ul>
  </nav>
  <br>
  <h1 style="text-align: center;">Welcome to BLR ODC</h1>
    <div class="hero-section">
	<div class="bg-image">
    <img src="{{url_for('static', filename='background.jpg')}}" align="middle" />
	</div>
    <div class="hero-content">
    
    </div>
  </div>
  <div>
    <div class="container">
      <h1 style="text-align: center;">EVENTS</h1>

        {% for i in myresult5 %}
          <h2>EVENT:  {{i[1]}}</h2>
          <p style="text-align: justify;">Description:  {{i[2]}}</p>
        {% endfor %}  
    </div>
  </div>
  <div class="bigbox">
  {% if myresult != [] %}
  <div class="container2" style="width: 600px;">
    <h1 style="text-align: center;">Active lockers</h1>
    <table class="table table-dark table-striped">
      <tr>
        <th>Locker No</th>
        <th>From Date</th>
        <th>To Date</th>
      </tr>
      {% for i in myresult %}
      <tr>
        <td>{{i[2]}} - {{i[0]}}</td>
        <td>{{i[3]}}</td>
        <td>{{i[4]}}</td>
      </tr>
      {% endfor %}

    </table>
  </div>
  {% endif %}
  
  {% if myresult2 != [] %}
  <div class="container2" style="width: 600px;">
    <h1 style="text-align: center;">Booked Meetings</h1>
    <table class="table table-dark table-striped">
      <tr>
        <th>Meeting Room No</th>
        <th>Start time</th>
        <th>end time</th>
      </tr>
      {% for i in myresult2 %}
      <tr>
        <td>{{i[2]}} - {{i[0]}}</td>
        <td>{{i[4]}}</td>
        <td>{{i[5]}}</td>
      </tr>
      {% endfor %}

    </table>
  </div>
  {% endif %}


  {% if myresult3 != [] %}
  <div class="container2" style="width: 600px;">
    <h1 style="text-align: center;">Booked Food</h1>
    <table class="table table-dark table-striped">
      <tr>
        <th>Food Item</th>
        <th>Quantity</th>
      </tr>
      {% for i in myresult3 %}
      <tr>
        <td>{{i[0]}}</td>
        <td>{{i[1]}}</td>
      </tr>
      {% endfor %}

    </table>
  </div>
  {% endif %}
  
  {% if myresult4 != [] %}
  <div class="container2" style="width: 600px;">
    <h1 style="text-align: center;">Booked Sports</h1>
    <table class="table table-dark table-striped">
      <tr>
        <th>Sport</th>
        <th>Start TIme</th>
        <th>Slot</th>
      </tr>
      {% for i in myresult4 %}
      <tr>
        <td>{{i[0]}}</td>
        <td>{{i[2]}}</td>
        <td>{{i[3]}} mins</td>
      </tr>
      {% endfor %}

    </table>
  </div>
  {% endif %}
</div>

  <script src="script.js"></script>
</body>
</html>